.box-1 {
  background: url(../img/bmw.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #333;

}

.box-4 {
  background: url(../img/mercedes.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #333;
}
